<template name="image_add_form">
  <div class="modal fade" id="image_form_modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">
          </div>
        </div>
        <div class="modal-body">
          <form class="js-add-image">
            <input type="text" name="img_src" />
            <br />
            <input type="text" name="img_alt" />
            <button class="btn btn-success">Save</button>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</template>
